*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

.sec1{
    background: url(/images/bg\ \(2\).jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    opacity: .8;
    z-index: 0;
}

.sec1 h2{
    font-size: 4.5rem;
    padding-top: 6rem;
    text-align: center;
    user-select: none;
    
}

.text-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4.5rem;
    font-size: 200%;
    font-weight: bolder;
    user-select: none;
}

.form-control{
    align-items: center;
    text-align: center;
    margin-top: 10.5rem;
    justify-content: center;
    font-size: 2rem;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn{
    font-size: 2rem;
    width: 15rem;
    margin-top: 3rem;
    margin-bottom: 1.2rem;
    border: .1rem solid black;
    border-radius: .6rem;
    cursor: pointer;
}

.details{
    display: flex;
    flex-direction: row;
    margin-top: 13.1rem;
    margin-bottom: 0;
    height: 19rem;
    user-select: none;
}

.sec2{
    background-color: #fcff4bc0;
    font-size: 2rem;
    width: 50%;
    text-align: center;
    justify-content: center;
    border-top: .1rem solid black;
    border-right: .1rem solid black;
    border-left: .1rem solid black;
    border-bottom: .1rem solid black;
    border-radius: .4rem;
    padding: .2rem;
}

.sec2 h3{
    font-size: 2.5rem;
    margin-bottom: 4rem;
    margin-top: 1.2rem;
}

.sec3{
    background-color: #fcff4bc0;
    font-size: 2rem;
    width: 50%;
    text-align: center;
    justify-content: center;
    border-top: .1rem solid black;
    border-right: .1rem solid black;
    border-bottom: .1rem solid black;
    border-radius: .4rem;
    padding: .2rem;
}

.sec3 h3{
    font-size: 2.5rem;
    margin-bottom: 4rem;
    margin-top: 1.2rem;
}

@media(max-width:998px){
    html{
        font-size: 55%;
    }
}

@media(max-width:834px){
    html{
        font-size: 50%;
    }
    /* .details{
        margin-bottom: 0;
        margin-top: 19.8rem;
    } */
}

@media(max-width: 740px){
    html{
        font-size: 46%;
    }
    .details{
        margin-top: 18.2rem;
    }
}

@media(max-width:644px){
    html{
        font-size: 42%;
    }
    .details{
        margin-top: 24rem;
        height: 20.5rem;
    }
}

@media(max-width:564px){
    html{
        font-size: 40%;
    }
    .text-center{
        margin-top: 12.5rem;
    }
    .details{
        margin-top: 33.1rem;
    } 
}

@media(max-width:470px){
    html{
        font-size: 38%;
    } 
    .text-center{
        margin-top: 15.5rem;
    }
    .details{
        margin-top: 20.5rem;
        display: flex;
        flex-direction: column;
    } 
    .sec2{
        width: 100%;
    }
    .sec3{
        width: 100%;
    }
}

@media(max-width:461px){
    html{
        font-size: 32%;
    } 
    .text-center{
        margin-top: 20.5rem;
    }
    .details{
        margin-top: 40.5rem;
    } 
}

@media(max-width:355px){
    html{
        font-size: 30%;
    }
    .text-center{
        margin-top: 24.5rem;
    }
}